.likebox {
  margin-bottom: 15px;
  display: inline-block;
}
.like {
  float: left;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 15px;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #0144aa;
  text-align: center;
  cursor: pointer;
  width: 10%;
}
.dislike {
  float: left;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 15px;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #434443;
  text-align: center;
  cursor: pointer;
  width: 10%;
}
.likecount {
  float: left;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 15px;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #0144aa;
  text-align: center;
  cursor: pointer;
  width: 5%;
}
.dislikecount {
  float: left;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
  margin-top: 15px;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #434443;
  text-align: center;
  cursor: pointer;
  width: 5%;
}
