#FormRegister {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	padding: 15px;
	border: 1px solid;
}

div.form-group {
	display: flex;
	flex-direction: row;
	padding-top: 15px;
	padding-right: 15px;
}

div.input-group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 65%;
}

div.input-error {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}