.col1 {
  margin-top: 50px;
  width: 10%;
  float: left;
  background-color: #9ea19e;
  height: 500px;

  margin-bottom: 15px;
}
.col2 {
  margin-top: 50px;
  width: 35%;
  float: left;
  overflow: auto;
  height: 500px;
  overflow: auto;
  border: 1px solid rgb(218, 217, 217);
  margin-bottom: 15px;
}
.col3 {
  margin-top: 50px;
  width: 65%;
  float: left;
  margin-bottom: 16px;
  padding: 0px 25px 15px 25px;
  overflow: auto;
  height: 500px;
  border: 1px solid rgb(218, 217, 217);
}
.itemmsg {
  text-align: justify;
  text-justify: inter-word;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li a {
  display: block;
  color: #000000;
  padding: 20px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #555;
  color: white;
}
.listThread-editor {
  margin: 1em 30%;
}
.messager-editor {
  margin: 3em 15%;
}
.messager-editor-button {
  float: right;
  margin-top: 1em;
}

.cardmessage {
  background-color: rgb(137, 193, 238);
  border-radius: 5%;
  padding: 15px;
  margin: 10px;
}

.rightsend {
  background-color: aquamarine;
}
@media (max-width: 1000px) {
  .listThread-editor {
    margin: 1em;
  }
}
@media (max-width: 900px) {
  .messager-editor {
    margin: 3em;
  }
}

.newMessage {
  padding: 30px;
  width: 60%;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.thread {
  background-color: rgb(233, 233, 233);
  border: 1px solid rgb(218, 217, 217);
  padding: 17px;
  font-size: 18px;
  color: rgb(100, 100, 100);
}
.thread:hover {
  background-color: rgb(224, 221, 221);
}
.in {
  width: 100%;
  padding: 0 10px 0 10px;
}
.inm {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin-bottom: 10px;
}
.send {
  color: rgb(100, 100, 100);
}
