.searchinput {
  padding: 5px;
  width: 100%;
}
.addgrp {
  width: 100%;
  height: auto;
}

.creategrp {
  padding: 10px;
  border-radius: 0px;
  box-sizing: border-box;
  margin-left: 14px;
  border: none;
  outline: 0;
  background-color: #d4d5d8;
  text-align: center;
  cursor: pointer;
  width: 400px;
  height: auto;
  border: 2px solid rgb(197, 195, 195);
}
.creategrp:hover {
  background-color: rgb(192, 192, 192);
}
.createGroup {
  margin: 20px 0 20px 0;
  width: 90%;
  margin-left: 20px;
}
.createGroup h6 {
  text-align: left;
}
.grpn {
  padding: 15px;
  width: 100%;
}
.grpd {
  width: 100%;
  height: 100px;
  padding: 12px;
}
.grpbtn {
  border-radius: 2px;
  box-sizing: border-box;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #3baa3b;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.grpins {
  font-size: 20px;
  margin-top: 90px;
  width: 900px;
  border: 2px solid rgb(209, 209, 209);
  padding: 15px;
  background-color: rgb(233, 233, 233);
}
.grpsearch {
  min-height: 150px;
  padding: 10px;
}
.grpcsg {
  width: 80%;
}
.grp {
  float: left;
  margin-left: 200px;
  border: 2px solid rgb(209, 209, 209);
  padding: 15px;
  background-color: rgb(233, 233, 233);
}
