.post {
  width: 100%;
  height: 80px;
  margin-bottom: 10px;
  text-align: left;
}
.commenttt {
  width: 40%;
}
.postEditor {
  text-align: center;
  padding: 15px;
}
.commentEditor {
  padding: 15px;
}
 .commbtn {
  padding: 8px;
  color: white;
  background-color: #27ec62;
  text-align: center;
  cursor: pointer;
}
 .commbtn:hover {
  background-color: gray;
  
 .postButton {
  margin: 0.1em 80%;
}
.btnn {
  display: block;
  width: 100%;
  border: none;
  background-color: #4caf50;
  color: white;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
 .btnn:hover {
  background-color: #ddd;
  color: black;
}
 .logoutButton {
  text-align: center;
}
 .column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
  text-align: center;
}
 .column2 {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 10px 8px;
}
 .column3 {
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;
}
 .row:after {
  content: "";
  display: table;
  clear: both;
}
 .img1 {
  width: 50%;
  border-radius: 50%;
}
 .img2 {
  width: 50%;
}
