.commentinput {
  width: 80%;
  height: 40px;
  float: left;
  padding: 15px 15px 15px 15px;
  text-align: left;
}
.commbtn {
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
  float: left;
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #4caf50;
  text-align: center;
  cursor: pointer;
  width: 15%;
}
.commentcard {
  padding: 7px 15px 10px 15px;
  width: 80%;
  float: left;
  border: 1px solid rgb(206, 206, 206);
  background-color: rgba(224, 224, 224, 0.897);
  margin: 15px 50px 0px 50px;
  text-align: left;
}

h8 {
  float: left;
}
