.postEditor {
  text-align: left;
}

.postButton {
  margin: 0.1em 70%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.posttext {
  border-bottom: 2px solid rgb(235, 234, 234);
  padding-bottom: 20px;
  text-align: left;
  font-size: 22px;
}

.postinput {
  padding: 15px;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
.post {
  padding: 15px;
}
input[type="file"] {
  display: none;
}
.ibtn {
  display: block;
  width: 100%;
  border: none;
  background-color: #4d80ec;
  color: white;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 5px;
}
.ibtn:hover {
  background-color: #ddd;
  color: black;
}
