.postEditor {
  text-align: left;
}

.postButton {
  margin: 0.1em 70%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  padding: 15px;
}
.posttext {
  border-bottom: 2px solid rgb(235, 234, 234);
  padding-bottom: 20px;
  text-align: left;
}
.posttext h5 {
  float: left;
}
.postinput {
  padding: 15px;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
}
