<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../resources/bootstrap.min.css">

	<title>Register</title>
</head>

<body>

<form id="FormRegister" novalidate>
	<fieldset>

		<div class="form-group" style="max-width: 50%;">
			<div style="display: flex; flex-direction: row;">
				<div>
					<label for="InputFirstName">First Name</label>
					<input type="text" class="form-control" id="InputFirstName" name="firstname" placeholder="firstname" aria-describedby="HelpBlockFirstName">
					<small id="HelpBlockFirstName" class="form-text text-muted" style="margin-top: 50px;">Please enter your first name.</small>
				</div>
				<div>
					sdsss
				</div>
			</div>

		</div>

		<div class="form-group">
			<label for="InputLastName">Last Name</label>
			<input type="text" class="form-control" id="InputLastName" name="lastname" placeholder="lastname" aria-describedby="HelpBlockLastName">
			<small id="HelpBlockLastName" class="form-text text-muted">Please enter your last name.</small>
		</div>

		<div class="form-group">
			<label for="InputEmail">Email Address</label>
			<input type="email" class="form-control" id="InputEmail" name="email" placeholder="email@example.com" aria-describedby="HelpBlockEmail">
			<small id="HelpBlockEmail" class="form-text text-muted">Please enter a valid email</small>
		</div>

		<div class="form-group">
			<label for="InputPassword">Password</label>
			<input type="password" class="form-control" id="InputPassword" name="password" placeholder="password" aria-describedby="HelpBlockPassword">
			<small id="HelpBlockPassword" class="form-text text-muted">Please enter your password. It must be 8 to 20 characters long</small>
		</div>

		<button id="ButtonSubmit" class="btn btn-primary" type="submit">Submit</button>

	</fieldset>
</form>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../resources/jquery-3.3.1.js"></script>
<script src="../resources/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../resources/bootstrap.min.js"></script>

<script>
	$.validator.setDefaults({
		highlight: (element) => {
			$(element).removeClass("is-valid");
			$(element).addClass("is-invalid");
		},
		unhighlight: (element) => {
			$(element).removeClass("is-invalid");
			$(element).addClass("is-valid");
		},
		errorElement: 'span',
		errorLabelContainer: 'errorMessage',
		errorClass: 'invalid-feedback'
	});

	$("#FormRegister").validate({
		rules: {
			firstname: {
				required: true,
				minlength: 2
			},
			lastname: {
				required: true,
				minlength: 2
			},
			password: {
				required: true,
				minlength: 8
			},
			email: {
				required: true,
				email: true
			}
		},
		messages: {
			firstname: {
				required: "Your first name is required",
				minlength: jQuery.validator.format("Your first name should be at least {0} characters long")
			},
			lastname: {
				required: "Your last name is required",
				minlength: jQuery.validator.format("Your first name should be at least {0} characters long")
			},
			password: {
				required: "A password is required",
				minlength: jQuery.validator.format("Your password should be at least {0} characters long")
			},
			email: {
				required: "An email is required",
				email: "Your email should be a valid one"
			}
		}
	})
</script>

</body>

</html>