.profile {
  text-align: center;
}

.profilecontainer {
  position: relative;
  top: 0;
  left: 0;
  font-size: 1vw;
}
.imagecontainer {
  position: relative;
  width: 100%;
  height: auto;
}
.banner {
  width: 100%;
  max-height: 350px;
  height: auto;
  z-index: 1;
}

.pp {
  border: 5px solid white;
  max-width: 16%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  left: 12%;
  z-index: 2;
}

.editpic {
  font-weight: bold;
  position: absolute;
  top: 85%;
  right: 3%;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0.5%;
  text-align: center;
  text-decoration: none;
  font-size: 1vw;
  height: auto;
  z-index: 2;
}
.imagecontainer h5 {
  font-size: 1.5vw;
}
.imagecontainer h3 {
  font-size: 2vw;
  position: absolute;
  left: 30%;
  top: 105%;
}
.edit {
  color: blue;
}
.editcontainer {
  margin: 15px;
}
.mod {
  text-align: left;
  margin-top: 0;
}
.mod input {
  float: left;
  width: 100%;
}
.imageedit {
  float: left;
  text-align: left;
}
.uploadbutton {
  display: block;
  width: 100%;
  border: none;
  background-color: #4caf50;
  color: white;
  padding: 7px 14px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
.uploadbutton:hover {
  background-color: rgb(56, 56, 56);
}

.pic {
  margin-left: 10px;
  max-height: 240px;
  width: 300px;

  display: inline-block;
}
.picbox {
  padding: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 15px;
}
.postspace {
  padding: 0px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 15px;
  position: absolute;
  width: auto;
  left: 10%;
  right: 10%;
}
input[type="file"],
input[type="file"]::-webkit-file-upload-button {
  cursor: pointer;
}
