.post {
    width: 70%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.postComment {
    margin: 0.1em 50%;
    width: 50%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

.postCommentButton {
    margin: 0.1em 91.5%;
}

.postEditor {
    text-align: center;
}

.postButton {
    margin: 0.1em 70%;
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}



.comm {
    padding: 12px 20px;
    margin-right: 20px;
    height: 30px;
    float: left;
    width: 70%
}

.commbtn {
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
    float: left;
    border: none;
    outline: 0;
    padding: 8px;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    cursor: pointer;
    width: 20%;
    margin: 0.1em 50%;

}

.commbtn:hover {
    background-color: gray;
}